<div class="container my-5">
  <div class="text-center mb-4">
    <h1>Edit Notification</h1>
    <p>Update this notification.</p>
  </div>

  <%= render "form" %>

  <div class="mt-4">
    <%= link_to "Back to Notification", notification_path(@notification), class: "btn", style: "background-color: #ce0615; color: white;" %>
  </div>
</div>