<div class="container my-5">
  <div class="text-center mb-4">
    <h1>Edit Registration</h1>
    <p>Update this registration.</p>
  </div>

  <%= render "form" %>

  <div class="mt-4">
    <%= link_to "Back to Registration", registration_path(@registration), class: "btn", style: "background-color: #ce0615; color: white;" %>
  </div>
</div>