<div class="container my-5">
  <div class="text-center mb-4">
    <h1>Edit Event</h1>
    <p>Update this event information.</p>
  </div>

  <%= render "form" %>

  <div class="mt-4">
    <%= link_to "Back to Event", event_path(@event), class: "btn", style: "background-color: #ce0615; color: white;" %>
  </div>
</div>