<div class="container my-5">
  <div class="text-center mb-4">
    <h1>Edit Venue</h1>
    <p>Update this venue information.</p>
  </div>

  <%= render "form" %>

  <div class="mt-4">
    <%= link_to "Back to Venue", venue_path(@venue), class: "btn", style: "background-color: #ce0615; color: white;" %>
  </div>
</div>