<div class="container my-5">
  <h1>Edit Category</h1>

  <%= render "form" %>

  <div class="mt-3">
    <%= link_to "Back to Category", category_path(@category), class: "btn btn-secondary" %>
  </div>
</div>