<div class="container my-5">
  <div class="text-center mb-4">
    <h1>New Review</h1>
    <p>Create a new event review.</p>
  </div>

  <%= render "form" %>

  <div class="mt-4">
    <%= link_to "Back to Reviews", reviews_path, class: "btn", style: "background-color: #ce0615; color: white;" %>
  </div>
</div>